
@import url('https://fonts.googleapis.com/css?family=Overlock|Work+Sans&display=swap');
/* font-family: 'Overlock', cursive;
font-family: 'Work Sans', sans-serif; */
.formCadastro{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    margin-left: 30px;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.labelCadastro{
    font-family: 'Work Sans', sans-serif;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.inputCadastro{
    display: flex;
    margin-left: 10px;
    max-width: 90%;
    
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttonCadastro{
    display: flex;
    margin-left: 135px;
    max-width: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgba(52, 235, 110);
    color: honeydew;
    margin-top: 10px;
    margin-bottom: 15px;
    
}



