@import url('https://fonts.googleapis.com/css?family=Overlock|Work+Sans&display=swap');
/* font-family: 'Overlock', cursive;
font-family: 'Work Sans', sans-serif; */

.formEntradaSaida{

    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-left: 28px;
    border-radius: 5px;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selectQuantidade{
    display: flex;

    border: none;
    border-radius: 5px;
    background-color: rgba(52, 235, 110);
    color: honeydew;
   
    margin-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.butQuantidade{
    display: flex;
    max-width: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgba(52, 235, 110);
    color: honeydew;
    margin-top: 10px;
    margin-bottom: 15px;
}

.inputQuantidade{
    margin-top: 10px;
    display: flex;
    
    border-radius: 5px;
    margin-bottom: 10px;
    
}