@import url('https://fonts.googleapis.com/css?family=Overlock|Work+Sans&display=swap');
/* font-family: 'Overlock', cursive;
font-family: 'Work Sans', sans-serif; */
.estoque {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.aviso {
    margin: 40px;
    color: red;
    margin-left: 70px;
    font-family: 'Overlock', cursive;
}

.avisu{
    margin: 40px;
    margin-left: 50px;
    font-family: 'Overlock', cursive;
}

.listaProdutos{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    margin-left: 30px;
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.produto{
    margin-left: 30px;
    font-family: 'Work Sans', sans-serif;
}